.advertisers {
    width: 80%;
    padding-top: 6%;
    padding-bottom: 2%;
    margin: 0 auto;
    display: flex;
    @include respond-to($phone) {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    @include respond-to($tablet-portrait) {
        flex-direction: column;
        align-items: center;
    }
}

.advertisers-info {
    padding-top: 14%;
    font-family: 'Roboto', sans-serif;
    width: 55%;
    @include respond-to($tablet-portrait) {
        order: 1;
        width: 90%;
    }
}

.advertisers-info__title {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    color: $dark-gray;
    @include respond-to($phone) {
        font-size: 42px;
    }
}

.advertisers-info__desc {
    font-size: 18px;
    width: 90%;
    color: $gray;
    line-height: 36px;
}

.slide-item {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.advertisers-info__read-more {
    font-size: 14px;
    font-weight: bold;
    color: $orange;
    text-transform: uppercase;
}

.shop-links__appstore,
.shop-links__googleplay {
    display: inline-block;
    width: 198px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 68px;
}

.shop-links {
    margin-top: 7%;
}

.shop-links__appstore {
    background: url("./../img/appstore.png");
    margin-right: 4%;
    @include respond-to($phone) {
        margin-bottom: 5%;
    }
}

.shop-links__googleplay {
    background: url("./../img/googleplay.png");
}
