<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    title Gloabal Media
body
  header.header
    nav.nav
      ul.nav-list
        li.nav-list-item
          img(src="assets/img/logo.png", alt="logo").nav-list-item__logo
        li.nav-list-item 
          a(href="#").nav-list-item__link Adventures
        li.nav-list-item
          a(href="#").nav-list-item__link Publishers
        li.nav-list-item
          a(href="#").nav-list-item__link Agenciens
        li.nav-list-item
          a(href="#").nav-list-item__link Company
        li.nav-list-item
          a(href="#").nav-list-item__link Our Partners
        li.nav-list-item
          a(href="#").nav-list-item__link Contact
    h2.nav__content Global agency online marketing
    a(href="#").nav__gradient-button Sign Up right now
    .content-block
      .content-block-item
        h2.content-block-item-title Advertisers
        p.content-block-item-desc That can be definitely said about the contemporary travel websites.
        .buttons
          a(href="#").buttons__join-now.buttons__join-now-type2 Join now
          a(href="#").buttons__read-more.buttons__read-more-type2 Read more
      .content-block-item
        h2.content-block-item-title Publishers
        p.content-block-item-desc That can be definitely said about the contemporary travel websites.
        .buttons
          a(href="#").buttons__join-now Join now
          a(href="#").buttons__read-more Read more
      .content-block-item
        h2.content-block-item-title Agencies
        p.content-block-item-desc That can be definitely said about the contemporary travel websites.
        .buttons
          a(href="#").buttons__join-now Join now
          a(href="#").buttons__read-more Read more
  .whyme
    .section-header
      .section-header__title Why we?
      .section-header__desc That can be definitely said about the contemporary travel websites.
    .advantages
      .advantages-item
        .advantages-item-icon
        p.advantages-item-desc As the holidays approach, everything tends to get a little hectic. Stress levels increase, there seems to be more unfinished business to take care of than usual. And deadlines, which should always be met anyway
      .advantages-item
        .advantages-item-icon
        p.advantages-item-desc Even with jQuery’s popularity there’s no need to rely on a JS library for every project. Classic JavaScript works in all major browsers and it’s really all you need to build dynamic interfaces. 
      .advantages-item
        .advantages-item-icon
        p.advantages-item-desc On the first day of Christmas my true love gave to me … a MacBook Pro with Creative Suite. Well, that’s not exactly how the holiday jingle goes, but if you are a web designer this list of gift suggestions is for you.
      .advantages-item
        .advantages-item-icon
        p.advantages-item-desc When custom label printer Consolidated Labels redesigned its website, their end goal was to increase customer conversions. Yet they liked their site, and didn’t see the need to make many changes.
  .how-we-working
    .section-header
      .section-header__title How we are working?
      .section-header__desc That can be definitely said about the contemporary travel websites.
    .working-block
      a(href="#").working-block__item Cpi
      a(href="#").working-block__item Cpa
      a(href="#").working-block__item Cpr
      a(href="#").working-block__item Cpc
      a(href="#").working-block__item Cpm
      a(href="#").working-block__item Rsm
  .advertisers
    .advertisers-info
      h2.advertisers-info__title Advertisers
      p.advertisers-info__desc hat can be definitely said about the contemporary travel websites. Whether it is an page for a local hotel or a feature-heavy portal that belongs to big holiday company, it fantastic interfaces are user magnets.
      a(href="#").advertisers-info__read-more Read more
    .slider
      img(src="assets/img/iphone.png", alt="iphone").slide-item
script(type='text/javascript',src="assets/js/jquery-2.2.4.min.js")
script(type='text/javascript',src="assets/js/main.js")
